footer {
  display: block;
  padding-block: 1.5rem;
  gap: 1.5rem;
  font: 0.875rem/150% var(--font-family);
}

footer > div {
  justify-items: center;
  & span {
    justify-content: center;
  }
}

footer span:nth-child(1) {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

footer > div:nth-child(2) {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@media(width >= 80em) {

  footer {
    display: flex;
    padding-block: 1.5rem;
    gap: 1.5rem;
    font: 0.875rem/150% var(--font-family);
  }

  footer .block {
    display: inline;
  
  }

  footer > div:nth-child(2) {
    display: flex;
    gap: 1rem;
    margin-left: auto; 
    margin-bottom: 0;
  }
} 